.filter-list {
  display: inline;
}

.filter-list li {
  list-style: none;
  display: inline-block;
  margin: 0px 4px 0px 4px;
}

.remove {
  color: red;
  margin-left: 10px;
}

#products img {
  overflow: none;
  width: 100%;
}

#products h2 {
  margin-top: 0px;
  font-size: 30px;
}
