.section .grey {
  padding-bottom: 0px !important;
}

.star-logo {
  max-height: 50px;
  margin: 7px 16px;
  float: left;
}

.badge.blue {
  color: white;
  border-radius: 6px;
  margin-left: 12px;
}

#homepagebody {
  min-height: 100vh;
}
#outerDiv{
  position:relative;
  border-radius: 10px;
}
.mydivoverlap{
    position: relative;
    z-index: 1;
}
#hide-add{
    display: none;
}
#outerDiv:hover #hide-add{
	display:block;
}
#mapPad {
  position: relative;
  width: 10em;
  height: 10em;
}
#background {
  background-image: url("img/chris-liverani-480934-unsplash.jpg");
  background-size: cover;
  background-position: center bottom;
  padding: 5rem;
}
#emailField {
  opacity: 0.4;
  background-color: grey;
  border-radius: 10px;
  padding-left: 1em;
}
.explore {
font-style: bold;
font-family: 'Nanum Gothic', sans-serif;
font-weight: thin;
color: teal;
}
#card {
  opacity: 0.4;
  background-color: grey;
}
#reward {
  font-style: italic;
}
#logo {
  font-family: 'Rock Salt', cursive;
}
#send {
  border-radius: 10px;
}
.filter-list {
  display: inline;
}

.filter-list li {
  list-style: none;
  display: inline-block;
  margin: 0px 4px 0px 4px;
}

.remove {
  color: red;
  margin-left: 10px;
}

#products img {
  overflow: none;
  width: 100%;
}

#products h2 {
  margin-top: 0px;
  font-size: 30px;
}
