#homepagebody {
  min-height: 100vh;
}
#carousel {
  background-color: #2eccb9;
}
.carousel .carousel-item {
  width: 250px !important;
}
#outerDiv{
	position:relative;
}
.mydivoverlap{
    position: relative;
    z-index: 1;
}
#hide-add{
    display: none;
}
#outerDiv:hover #hide-add{ 
	display:block;
}
#mapPad {
  position: relative;
  width: 10em;
  height: 10em;
}