#homepagebody {
  min-height: 100vh;
  /* flex-direction: column; */
}
#carousel {
  background-color: #2eccb9;
}
main {
  /* flex: 1 0 auto; */
}
.carousel .carousel-item {
  width: 250px !important;}